@charset "UTF-8";
/* CSS Document */

html {
	background-color: white;
	font-family: Zurich;
}

.top-main {
	text-align: center;
}

.menu {
    text-transform: uppercase;
    color: rgb(206,206,202);
    background-color: red;
    font-size: 150%;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: all;
    -o-transition: all;
    transition: 0.2s;
	text-decoration: none;
	text-shadow: 2px 2px black;
}.menu:hover {
    color: #6C0001;
	font-size: 175%;
	transition: 0.5s;
}
